/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: #d5e4f5;
}
h1{
    text-align: center;
}
.big-container{
    display: flex;
    gap: 20px;
    /* margin: auto; */
    justify-content: center;
}
h2{
    text-align: center;
}
input{
    height: 35px;
    width: 20vw;
}
.btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;

}
#button1{
    height: 10vh;
    width: 70vw;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    
}
#button1:hover{
    background-color: rgb(89, 89, 131);
}
.ans-con{
    display: flex;
    /* gap: 20px; */
    /* margin: auto; */
    justify-content: center;
    /* width: 20vw; */
}
.answer input{
     width: 25vw;
     background-color: rgb(235, 235, 235);
     text-align: center;
}
#ope{
    height: 40px;
    width: 20vw;
    text-align: center;
    font-size: 15px;
}
